{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Learning Log</title>
        <!-- prettier-ignore -->
        {% bootstrap_css %} 
        {% bootstrap_javascript %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'learning_logs:index' %}">
                    Learning Log
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'learning_logs:topics' %}">
                                Topics
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="navbar-text d-flex align-items-center"
                                >Hello, {{ user.username }}.
                            </span>
                        </li>
                        <li class="nav-item">
                            <a
                                href="{% url 'users:password_change' %}"
                                class="nav-link"
                                >Change password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:logout' %}" class="nav-link"
                                >Log out
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a
                                href="{% url 'users:register' %}"
                                class="nav-link"
                                >Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:login' %}" class="nav-link"
                                >Log in
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock page_header %}
            </div>
            <div>{% block content %}{% endblock content %}</div>
        </main>
    </body>
</html>
