{% extends "learning_logs/base.html" %}

<!-- prettier-ignore -->
{% block page_header %}
<div class="p-5 text-center text-muted bg-light border rounded-3">
    <h1 class="display-3">Track your learning.</h1>
    <p class="lead col-lg-6 mx-auto mb-4">
        Make your own Learning Log, and keep a list of the topics you're
        learning about. Whenever you learn something new about a topic, make an
        entry summarizing what you've learned.
    </p>
    <a
        href="{% url 'users:register' %}"
        class="btn btn-lg btn-primary"
        role="button"
        >Register &raquo;
    </a>
</div>

{% endblock page_header %}
