{% extends "learning_logs/base.html" %}
<!-- prettier-ignore -->
{% load bootstrap5 %}

{% block page_header %}
<h1>Change your password</h1>
{% endblock page_header %}

<!-- prettier-ignore -->
{% block content %}
<form action="{% url 'users:password_change' %}" method="post" class="form">
    <!-- prettier-ignore -->
    {% csrf_token %} 
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
    <!-- <input
        type="hidden"
        name="next"
        value="{% url 'users:password_change_done' %}" /> -->
</form>
{% endblock content %}
